@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.page {
  margin-top: 130px;
  margin-bottom: 130px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 20px;
}